
{% extends 'admin_shop/base.html' %}

{% block content %}
    <form action="/report" method="post">
        {% csrf_token %}
        <div class="content">
            <div class="report">
                <h4 class="my-4">Thống kê</h4>
                <div class="content-body">
                    <div class="row justify-content-between">
                        <div class="col-auto d-flex gap-1 align-items-center gap-3">
                            <div class="d-flex align-items-center gap-2">
                                <label for="" class="form-label m-0">Loại</label>
                                <select class="form-select" name="type_report" id="type_report">
                                    <option selected value="1">Thống kê doanh thu</option>
                                    <option value="2">Thống kê đơn hàng</option>
                                    <option value="3">Thống kê khách hàng</option>
                                </select>

                            </div>

                            <div class="d-flex align-items-center gap-2">
                                <label for="filter-start-date" class="form-label m-0">Từ</label>
                                <input type="date" class="form-control" name="start_date" id="filter-start-date" aria-describedby="helpId" placeholder="">
                            </div>

                            <div class="d-flex align-items-center gap-2">
                                <label for="filter-end-date" class="form-label m-0">Đến</label>
                                <input type="date" class="form-control" name="end_date" id="filter-end-date" aria-describedby="helpId" placeholder="">
                            </div>
                            <button class="btn btn-primary ms-2 d-flex align-items-center px-3" type="submit">
                                Thống kê
                            </button>

                        </div>
                    </div>

                    <div class="chart my-5">
                        <canvas class="chart-statics"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </form>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Khai báo biến report_name ở phạm vi toàn cục
        {% comment %} var ctx = document.getElementById('chart-statics').getContext('2d'); {% endcomment %}
        var report_name = "{{ report_name | safe }}";
        var month = {{columns | safe}}
        var revenues = {{values | safe}}
        $(document).ready(function() {
            var chartData = {
                labels: month,
                datasets: [{
                    label: report_name,
                    data: revenues,
                    backgroundColor: '#007bff',
                    borderColor: '#007bff',
                    borderWidth: 1,
                    fill: false
                }]
            };

            // Tạo biểu đồ với jQuery Chart.js
            new Chart($('.chart-statics'), {
                type: 'line',
                data: chartData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: report_name
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })
    </script>
{% endblock content %}
