@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
:root {
    /* font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif; */
    --blue: #3874ff;
    --dark-blue: #2c6bfc;
    --red: #C92127;
    --yellow: #ffce3d;
    --green: #25b003;
    --light-blue: #5a8afc;
    --background-color: #ffffff;
    --border: #e3e6ed;
    --bs-btn-active-color: #2c6bfc;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    background-color: var(--background-color);
}
@media (min-width: 1200px) {
    .container {
        max-width: 1184px;
    }
}

p {
    white-space: pre-line;
    margin-top: 0;
    margin-bottom: 1rem;
}

i {
    margin: 0;
}

a {
    text-decoration: none !important;
    color: #000;
    transition: all 0.1s;
}

.table td {
    padding: 20px 8px;
}
.text-container {
    max-height: 3em; /* chiều cao tối đa là 2 dòng */
    overflow: hidden; /* ẩn phần dư thừa của đoạn văn bản */
    text-overflow: ellipsis; /* thêm dấu "..." */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng cần hiển thị */
    -webkit-box-orient: vertical;
    text-align: left;
}

.form-check-input[type="checkbox"] {
    box-shadow: 1px 2px 2px var(--border);
}

.color-white {
    color: #fff;
}

.color-gray {
    color: rgba(0, 0, 0, 0.54);
}

.color-blue {
    color: var(--blue);
}

.color-red {
    color: var(--red);
}

.color-green {
    color: var(--green);
}

.bg-primary {
    background-color: var(--blue);
}

.btn {
    border: 1px solid var(--border);
    padding: 4px 8px;
}

.btn:hover {
    border-color: var(--dark-blue) !important;
    color: #000;
}

.btn:active {
    border-color: var(--dark-blue);
    color: #fff;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: transparent !important;
}

.btn-red:hover, .btn-red:active {
    border-color: #C92127 !important;
}

.btn.active,
.btn.active:active {
    background-color: #C92127;
    color: #ffff !important;
}

.btn.active:hover {
    background-color: #C92127;
    color: #ffff;
}

.btn-light {
    color: var(--blue);
    background-color: var(--background-color);
}

.btn-light:hover {
    background-color: var(--blue);
    color: #ffff;
}

.btn-primary:hover {
    background-color: var(--dark-blue);
    color: #fff;
}

.btn-primary:active {
    background-color: var(--dark-blue);
    color: #fff;
}
.btn.disable {
    color: var(--border);
    pointer-events: none;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn.active:hover {
    color: #fff;
}

.btn-secondary:hover {
    outline: none !important;
    color: #fff;
    box-shadow: none;
    border-color: #fff !important;
}

.btn-min-width {
    min-width: 70px;
}

.fs-min {
    font-size: 14px;
}

.page-link:hover {
    cursor: pointer;
}
/* Header */

.header-main {
    /* height: 56px; */
    background-color: var(--background-color);
    /* padding: 16px 0 0 0; */
}

.navbar-collapse {
    margin-left: 130px;
}

nav.navbar.navbar-expand-lg {
    padding-top: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #f7c4dc, #ff65a3);
}

.noti-title {
    background: linear-gradient(to right, #f7c4dc, #ff65a3);
}

.notification-list hr {
    margin-top: 0 !important;
}

.notification-list .notification-item:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    background-clip: text !important;
}

img.logo-website {
    width: 120px;
    height: 75px;
}

.header-main a {
    color: #000;
}

.header-main a:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.header .btn {
    color: #fff;
}

.header .btn:hover {
    color: #fff;
}
/* .header-nav-item {
  font-size: 20px;
} */
.cart {
    font-size: 20px;
}

/* Search */
.search-input {
    height: 40px;
    border-radius: 6px;
    padding-left: 24px;
    color: #2a2a2a;
    background-color: #fdfdfd;
}

.search-input:focus {
    outline: 0px;
}

.search-btn {
    position: relative;

    right: 36px;
    color: #afadad;
}
.search-btn:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.search-btn::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    left: -16px;
    color: #000;
    border-left: 1px solid #afadad;
}

.header-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-item i {
    font-size: 20px;
}

.header-nav-item .badge {
    right: -10px;
    top: -10px;
    font-size: 10px;
}
.header-nav-item p {
    font-size: 16px;
    margin: 0 8px !important;
}

.header-img-user {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.option-user {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 8px 0;
    z-index: 1;
    display: none;
}

.header-user {
    position: relative;
}
.header-user::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: 16px;
    background-color: transparent;
}
.header-user__list-option {
    position: absolute;
    background-color: white;
    top: calc(100% + 8px);
    right: 0;
    width: 175px;
    margin-top: 8px;
    /* border: 1px solid #ccc; */
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    transform: translateY(-20px);
    z-index: 2;
}

.header-user__option {
    padding: 8px;
    display: flex;
    align-items: center;
}

.header-user__option i {
    font-size: 1rem;
    width: 18px;
    color: #0866ff;
}

.header-user__option:hover,
.header-user__option:hover i {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    background-clip: text !important;
}
.header-user__list-option::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.header-user:hover .header-user__list-option {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.notification:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 100%;
    width: 100px;
    height: 16px;
    background-color: transparent;
}
.notification-list {
    top: calc(100% + 8px);
    right: -20px;
    width: 300px;
    background-color: white;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    transform: translateY(-20px);
    z-index: 2;
    z-index: 1000;
    border: 1px solid rgb(0, 0, 0, 0.2);
}
.notification-list::after {
    content: "";
    position: absolute;
    top: -9px;
    right: 20px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.notification:hover .notification-list {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.notification-item:hover {
    /* background-color: var(--background-color); */
    /* color: #000; */
}
/* Navbar */

/* .navbar form {
  width: 40%;
}
 */
.nav-item .nav-link {
  padding: 5px 30px 5px 0 !important;
}
.nav {
    padding: 16px;
    background-color: blue;
    display: flex;
    position: relative;
    /* gap: 20px; */
}
.navbar {
    padding: 8px 0;
    background-color: var(--background-color);
}


#lightSlider {
    height: 100% !important;
}
/* .nav-link:hover {
    color: white;
    transform: translateY(-2px);
} */

.nav-content {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    font-size: 17px;
    font-weight: 500;
}

.nav-content::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    transition: scale 0.3s;
    transform-origin: right;
    scale: 0 1;
}

a.btn.btn-primary.login {
    background-color: transparent;
    color: #29aefc;
    border: 1px solid #29aefc;
    border-radius: 8px;
}

a.btn.btn-primary.login:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

.nav-link:hover .nav-content,
.nav-content.active {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.nav-link:hover .nav-content::after,
.nav-content.active::after {
    scale: 1;
    transform-origin: left;
}

.price-filter-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;    
}

.content {
    min-height: 700px;
    background-color: rgba(128, 128, 128, 0.1);
}
/* Carousel */
.carousel-item {
    height: 600px;
    border-radius: 5px;
}

.carousel-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    object-fit: fill;
    height: 100%;
}

.carousel-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-control-btn {
    font-size: 40px;
}

.carousel-btn {
    color: #ffff;
    background-color: #5a8afc;
}

/*  Sale products */

.products-slider {
    background-color: #ffff;
    border-radius: 8px;
}

.product-more {
    text-decoration: none;
    color: var(--light-blue);
    font-weight: 500;
}

.product-more:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

/* .swiper {
  padding: 0 20px;
} */

.swiper-theme-container {
    position: relative;
}

.swiper {
    margin: 4px;
}
.swiper-button-disabled {
    opacity: 0 !important;
}
.swiper-button-prev {
    left: -12px;
}

.swiper-button-next {
    right: -12px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
}

.swiper-button-icon {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid var(--border);
    border-radius: 50%;
    box-shadow: 0px 8px 24px -4px rgb(36 40 46 / 12%);
    color: rgb(0, 0, 0, 0.6);
}

.navbar-nav .nav-item.dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu {
    display: none; /* Ẩn dropdown mặc định */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    min-width: 200px; /* Độ rộng tối thiểu */
    z-index: 1000;
}

.form-check-input:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

.navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(138, 148, 173, 0.2);
    text-wrap: pretty;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #ebebeb;
    color: #F7941E;
}

/* Hiển thị dropdown khi hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Product */
.product {
    color: #000;
}

.product-card {
    border: 1px solid var(--border);
    padding: 6px 8px;
    box-shadow: 0px 2px 2px #ccc;
    border-radius: 6px;
    transition: all 0.3s;
}

.homepage .product-card {
    border-color: transparent;
    box-shadow: none;
}

.product-image {
    height: 175px;
    object-fit: cover;
    position: relative;
}

.product-detail .product-image {
    height: 100%;
}

.product-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.product-sale-percentage {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 32px;
    font-size: 12px;
    top: 0px;
    right: 0px;
    padding: 6px 4px;
    background-color: #ffce3d;
    color: #ffff;
}

.product-sale-percentage::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent #ffce3d;
    border-style: solid;
    border-width: 0 16px 4px 16.5px;
}
.product:hover .product-card {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
/* .product:hover .product-img {
    transform: scale(1.2);
} */
.product-name {
    margin: 8px 0 4px 0;
    font-size: 14px;
    min-height: 2.7rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-price {
}
.product-price-original {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 6px;
}

.product-price-sale {
    font-size: 16px;
    font-weight: 600;
}

.title-prod {
    margin-bottom: 12px;
    position: relative;
}

.title-prod::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
}

.product-rate {
    margin-top: 12px;
}
.product-rate i {
    color: var(--red);
    font-size: 12px;
}

.product-quantity-sold {
    font-size: 12px;
    padding-top: 2px;
}

/* Welcome */

.welcome {
    margin: 40px 0;
    padding-top: 20px;
    border-top: 1px solid rgb(138, 148, 173, 0.2);
}

.welcome-image {
    width: 200px;
}

.welcome-description {
    white-space: wrap;
}

.welcome-description span {
    color: var(--blue);
}

/* Footer */
.footer {
    background-color: #fff;
    padding: 60px 0;
}

.footer a,
.footer p {
    color: rgb(82, 91, 117);
}
.footer a:hover {
    background: linear-gradient(138.03deg, #B53CFF 7.04%, #3B89FF 50.7%, #48C7CF 98.97%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

/* List Product */

.icon-filter {
    color: var(--blue);
}
.toggle-icon {
    transition: all 0.3s;
}
.collapse-indicator[aria-expanded="true"] .toggle-icon {
    /* -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg); */
    transform: rotate(180deg);
}

.rating-filter .form-check i {
    color: var(--red);
}

#slider-range {
    width: 98%;
    /* margin: 10px 0 20px 10px; */
    border-radius: 16px;
}

#slider-range .ui-slider-range {
    background: #3874ff;
}

#slider-range .ui-slider-handle {
    background: #fff;
    border: 2px solid #3874ff;
    width: 1.2em;
    height: 1.2em;
    margin-top: -0.5em;
    top: 4px;
    border-radius: 50%;
}

#slider-range .ui-state-focus {
    outline: none;
}

#amount {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

/* Products */
.list-product {
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort-bar {
    padding-bottom: 16px;
}
.sort-bar > div {
    margin-right: 16px;
}

.btn-filter {
    border: 1px solid var(--border);
    padding: 6px 16px;
    border-radius: 6px;
    transition: all 0.2s;
    cursor: pointer;
}
.btn-filter:hover {
    border: 1px solid var(--blue);
}

.btn-filter.active {
    background-color: var(--blue);
    color: #ffff;
}
.sort-price {
    border: 1px solid var(--border);
    padding: 6px;
    width: 100px;
}

.sort-price-list,
.sort-price-list:hover {
    border: 1px solid var(--border);
}

.sort-price-list {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sort-price-list::after {
    position: absolute;
    right: 12px;
    top: 15px;
}

.btn.dropdown-toggle.show,
.btn.dropdown-toggle:active {
    border-color: var(--blue);
}

.dropdown-menu {
    width: 100%;
}
/* Pagination */
.page-link {
    display: flex;
    justify-content: center;
    border: none;
    height: 36px;
    width: 36px;
    margin: 0 12px;
    border-radius: 5px !important;
    font-size: 16px;
    color: #000;
}

.active>.page-link, .page-link.active {
    background-color: #C92127;
}

.page-link:focus {
    box-shadow: var(--bs-pagination-focus-box-shadow);
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 0;
    background-color: transparent;
}

/* Product Detail */

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: #bf9a61;
}

.product-information {
    /* background-color: #fff; */
    min-height: 700px;
}

.product-information-img,
.product-information-content {
    border-radius: 6px;
    padding: 12px;
    background-color: #fff;
}

.product-image-primary {
    object-fit: cover;
    width: 100%;
}
.product-image-primary img {
    width: 100%;
    max-height: 550px;
    height: 100%;
    aspect-ratio: 1 / 1;
    /* object-fit: cover; */
    border-radius: 4px;
}
.product-image .swiper-slide img {
    width: 100%;
    /* height: 100px; */
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    object-fit: cover;
}

.typeBook {
    margin: 12px 0 8px 0;
}

.type-option button {
    width: 50px;
}

.rate-quantity,
.sold-quantity {
    position: relative;
    margin-left: 30px;
    color: #767676;
}

.rate-quantity span,
.sold-quantity span {
    color: #000;
    font-size: 18px;
}

.fa-star,
.fa-star-half-stroke {
    color: #ffca00;
}
.rate-quantity::after,
.sold-quantity::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    /* color: var(--border); */
    top: 0;
    left: -16px;
    border: 1px solid rgba(0, 0, 0, 0.14);
}

.price {
    background-color: var(--background-color);
    gap: 12px;
    padding: 8px 0;
    border-radius: 2px;
}

.info-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-bottom: 0.5px solid #F2F4F5;
    padding: 8px 4px;
}

.info-product .label-prod {
    color: #777;
    margin: 0;
    font-size: 14px;
    width: 130px;
}

.info-product .content-prod {
    color: #000;
    margin: 0;
    font-size: 14px;
}

.sale-price {
    color: var(--red);
}

.sale-percent {
    font-size: 12px;
    padding: 2px 4px;
    background-color: var(--red);
    color: #fff;
    border-radius: 4px;
}

.size .btn,
.color .btn {
    min-width: 64px;
}

.btn-quantity {
    width: 40px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity .btn:hover {
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
.input-quantity {
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
}

.add-cart {
    padding: 8px;
    border-radius: 6px;
    color: #C92127;
    border: 2px solid #C92127;
}

.add-cart:hover,
.add-cart:active {
    color: white;
    background-color: #C92127;
    border: 2px solid #C92127 !important;
    cursor: pointer;
}
.buy-now {
    padding: 8px;
    border-radius: 6px;
    background-color: #C92127;
    color: #fff;
}

.buy-now:hover {
    background-color: #fff;
    color: #C92127;
    border: 1px solid #C92127 !important;
}

/* Product more */

.product-more-infor .nav {
    background-color: transparent;
}

.product-more-infor .nav-link {
    color: #000;
}

.product-more-infor .nav-link:hover {
    color: var(--blue);
}

.product-more-infor .nav-link.active {
    border-bottom: 3px solid var(--blue);
    border-radius: 0;
    color: var(--blue);
    background-color: transparent;
}

.tab-content {
    border-radius: 4px;
}

.product-rating-overview {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--blue);
}

.user-image-rate {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.image-feedback-item {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.image-feedback-item img {
    width: 100%;
    height: 100%;
}
/* 
.btn-like:hover, .btn-dislike:hover,
.btn-like.active, .btn-dislike.acive{
    color: var(--blue);
} */

.product-rating__item {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
}

.response {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--background-color);
}

/* Cart */
/* 
.cart-table {
    background-color: #fff;
    border-radius: 4px;
    padding: 8px;
} */
th,
td {
    text-align: center;
    vertical-align: middle;
}
.cart-table .message {
    top: calc(100% + 4px);
    width: 200px;
    left: -50px;
    display: none;
}
.cart-product-img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    object-fit: cover;
}

.cart-product-name {
    margin: 0;
}

.cart-table .input-quantity,
.cart-table .btn-quantity {
    width: 30px;
    height: 30px;
    padding: 0;
}

.cart-table .btn-quantity i {
    font-size: 12px;
}

.cart-product-action i:hover {
    color: var(--blue);
    cursor: pointer;
}

.total-after-voucher {
    padding: 16px 0 8px;
    border-top: 1px dashed var(--border);
    border-bottom: 1px dashed var(--border);
}

/* Checkout */

table tr td:first-child {
    width: 200px;
    /* white-space: nowrap; tránh cho nội dung bị ngắt dòng */
}

.list-order-item,
.order-infor-money {
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--border);
}

.order-item-name {
    font-size: 14px;
}

.list-order-item img {
    border-radius: 4px;
}

/* Status Order */
.timeline-item {
    margin-bottom: 72px;
}

.timeline-bar {
    height: 100px;
    width: 1px;
    left: 50%;
    top: 43px;
}

.border-success {
    border-right: 1px solid var(--green);
}

.border-processing {
    border-right: 1px solid var(--red);
}

.border-dash {
    border-right: 1px dashed rgb(138, 148, 173);
}

.timeline-icon {
    border: 1px solid var(--green);
    border-radius: 50%;
    padding: 11px 12px;
    background-color: white;
}

.timeline-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: var(--green);
}

.timeline-success {
    border-color: var(--green);
}

.timeline-success i,
.timeline-success ~ span {
    color: var(--green);
}

.timeline-processing .timeline-icon,
.timeline-processing i,
.timeline-processing span {
    border-color: var(--red);
    color: var(--red);
}

.timeline-pending .timeline-icon,
.timeline-pending span {
    border-color: rgb(138, 148, 173);
}
.timeline-pending i {
    color: rgb(138, 148, 173);
}
/* .timeline-icon .processing {
    font-size: 14px;
    color: var(--red);
    padding: 6px 4px;
    border: 1px solid var(--red);
    border-radius: 50%;
} */

.timeline-item-datetime {
    width: 90px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(82, 91, 117);
}

.timeline-item-status p {
    color: rgb(82, 91, 117);
}

/* List order */

.orders-table {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.orders-table .search-input {
    border-radius: 8px;
    width: 320px;
    height: 36px;
}

.filter-list {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
}

.filter-list, .filter-list:hover {
    border: 1px solid var(--border);
    background-color: white;
}

.filter-list::after {
    position: absolute;
    right: 12px;
    top: 15px;
}

.order-item .badge {
    font-size: 14px;
    font-weight: 400;
}

.badge-success {
    background-color: #d9fbd0;
    color: #1c6c09;
    border-color: #bee8b4;
}

.badge-danger {
    background-color: #ffe0db;
    color: #b81800;
    border-color: #fabcb3;
}

.badge-secondary {
    background-color: #e3e6ed;
    color: #141824;
    border-color: #cbd0dd;
}

.badge-infor {
    background-color: #c7ebff;
    color: #005585;
    border-color: #96d9ff;
}

/* Profile */
.profile-infor-generation {
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--border);
}

.profile-infor-generation a:hover {
    color: var(--blue);
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Login */
.login-page {
    background-image: linear-gradient(to left, #29aefc, #ddf3ff);
}

.login-image {
    border-radius: 8px 0 0 8px;
}

.login-image img {
    border-radius: 8px 0 0 8px;
}

.login-card {
    border-radius: 0 8px 8px 0;
}

.nav-pills .nav-link {
    color: #000;
}
.nav-pills .nav-link.active {
    border: 0;
    border-bottom: 3px solid var(--blue);
    border-radius: 0;
    color: var(--blue);
    background-color: transparent;
}

.product-more-infor .nav-pills .nav-link.active {
    color: #C92127;
    border-color: #C92127;
}

.login {
    border-radius: 20px;
    padding: 6px 10px;
}

.login-btn,
.register-btn {
    padding: 8px;
}

.login-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Feedback */
.rating i:hover {
    cursor: pointer;
}


/* order success */

.back-home {
    width: 200px;
    padding: 8px;
    font-size: 18px;
}

.min-height {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 12px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.post-author,
.post-time {
    font-size: 1rem;
    margin-bottom: 8px;
}

.post-author span,
.post-time span {
    font-weight: 500;
}

.post-cate {
    font-weight: 600;
    margin-bottom: 8px;
}

.content-post .title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
}

.content-post .author, .content-post .date {
    font-size: 18px;
    margin-bottom: 0;
}

.content-post i {
    margin: 8px;
    font-size: 8px;
}

.content-post .author span, .content-post .date span {
    font-weight: 700;
}

.content-post .content {
    margin: 1rem 0;
}

div#modal-edit-address.show {
    background-color: rgba(0, 0, 0, 0.54);
}

.flash-sale {
    background-image: url('../img/flash_sale_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.flash-sale .title-prod {
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 12px;
}

.flash-sale .title-prod::after {
    background: none;
}

.flash-sale .product-card {
    background-color: #fff;
}

.flash-sale .swiper-button-icon {
    background-color: #fff;
}

.product-detail .flash-sale {
    padding: 8px 16px;
    border-radius: 24px;
    margin-bottom: 4px;
}

.welcome a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: fit-content;
    height: auto;
    color: #ffff;
    background-color: var(--blue);
    padding: 4px 12px
}

.product-filter {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.card-notification {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(0 77 255 / 20%);
    padding: 12px;
    border-radius: 8px;
}

.card-notification .noti-content {
    font-weight: 500;
}

.alert-notification {
    padding: 6px 12px;
}

.notification-item .unread::before,
.noti-content .unread::before {
    content: "•";
    color: #2196f3;
    font-size: 20px;
    margin-right: 10px;
}

.alert-notification .notification-date {
    font-size: 12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.alert-notification .notification-content {
    font-weight: 500;
}

.logo-paid {
    width: 60px;
    height: 50px;
    margin-right: 16px;
}

#pay-btn, #vnpay-btn {
    margin-right: 1rem;
    background-color: #29aefc;
    color: #000;
    border-radius: 6px;
}

#pay-btn i, #vnpay-btn i {
    font-size: 20px;
}

.badge-primary {
    background-color: #0080c5;
    color: #ffffff;
    border-color: #0076ba;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        margin: 10px 0 0 0;
    }

    .navbar-close {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .search-group {
        display: none;
    }

    .carousel-item {
        height: 300px;
    }
}

@media screen and (max-width: 576px) {
    .product-image-primary img {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .notification-navbar, .cart-navbar {
        display: none;
    }

    .product-more {
        font-size: 12px;
    }

    h4.title-group {
        font-size: 16px;
    }

    .sort-price-list {
        width: 100px;
    }
    
    .group-btn-action {
        flex-direction: column;
    }
}