{% extends 'customer/base.html' %}
{% load my_filters %}
{% block cdn %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
{% endblock cdn %}

{% block content %}
<div class="py-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="/list-product">Sản phẩm</a></li>
              {% if category_selected is None %}
                {% if category_parent.category_id is None %}
                    <li class="breadcrumb-item active" aria-current="page">Sách</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ category_parent.name }}</li>
                {% endif %}
              {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ category_selected.name }}</li>
              {% endif %}
            </ol>
          </nav>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-3 p-0">
                <div class="product-filter position-sticky">
                    <div class="category-filter">
                        <a class="collapse-indicator" data-bs-toggle="collapse" href="#collapseCategory" role="button" aria-expanded="true" aria-controls="collapseCategory">
                            <div class="d-flex justify-content-between ">
                                <h6 class="m-0">Danh mục</h6>
                                <i class="toggle-icon fa-solid fa-angle-down d-flex align-items-center"></i>
                            </div>
                        </a>
                        <div class="collapse show mt-2 ms-2" id="collapseCategory">
                            <input type="hidden" id="sub_cate" value="{{ selected_category_id }}">
                            <input type="hidden" id='parent_cate' value="{{ category_parent.category_id }}">
                            <input type="hidden" id='list_sub_cate' value="{{ category_ids }}">
                            <div class="form-check">
                                <input type="checkbox"  {% if selected_category_id is None and not category_parent.category_id %} checked {% endif %}  class="form-check-input" id='all_cate' value="all">
                                <label class="form-check-label">
                                    Tất cả danh mục
                                </label>
                            </div>
                            {% if categoriesFilter.exists %}
                                {% for category in categoriesFilter %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.category_id }}" id="category-{{ category.category_id }}" name='category'
                                    {% if selected_category_id == category.category_id|stringformat:"d" %} checked {% endif %}>
                                    <label class="form-check-label" for="category-{{ category.category_id }}">
                                        {{ category.name|title }}
                                    </label>
                                </div>
                                <!-- {% if category.parent_id is not None %} -->
                                    <!-- {% endif %} -->
                                {% endfor %}
                            {% else %}
                                <h6>Không có danh mục con</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="availabilty-filter my-4">
                        <a class="collapse-indicator" data-bs-toggle="collapse" href="#collapseAge" role="button" aria-expanded="true" aria-controls="collapseAge">
                            <div class="d-flex justify-content-between ">
                                <h6 class="m-0">Độ tuổi</h6>
                                <i class="toggle-icon fa-solid fa-angle-down d-flex align-items-center"></i>
                            </div>
                        </a>
                        <div class="collapse show mt-2 ms-2" id="collapseAge">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onclick="toggleRadio(this)" value="1" name='age'>
                                <label class="form-check-label">
                                    18+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onclick="toggleRadio(this)" value="2" name='age'>
                                <label class="form-check-label">
                                    15+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onclick="toggleRadio(this)" value="3" name='age'>
                                <label class="form-check-label">
                                    11+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onclick="toggleRadio(this)" value="4" name='age'>
                                <label class="form-check-label">
                                    5+
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="availabilty-filter my-4">
                        <a class="collapse-indicator" data-bs-toggle="collapse" href="#collapseAvailability" role="button" aria-expanded="true" aria-controls="collapseAvailability">
                            <div class="d-flex justify-content-between ">
                                <h6 class="m-0">Loại sản phẩm</h6>
                                <i class="toggle-icon fa-solid fa-angle-down d-flex align-items-center"></i>
                            </div>
                        </a>
                        <div class="collapse show mt-2 ms-2" id="collapseAvailability">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="status-1" name='type'>
                                <label class="form-check-label" for="status-1">
                                    Mới
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="status-2" name='type'>
                                <label class="form-check-label" for="status-2">
                                    Cũ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="price-filter my-4">
                        <a class="collapse-indicator" data-bs-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="true" aria-controls="collapsePrice">
                            <div class="d-flex justify-content-between ">
                                <h6 class="m-0">Giá</h6>
                                <i class="toggle-icon fa-solid fa-angle-down d-flex align-items-center"></i>
                            </div>
                        </a>
                        <div class="collapse show mt-2 ms-2" id="collapsePrice">
                            <!-- <p id="amount"></p>
                            <div id="slider-range"></div> -->
                            <div class="price-filter-input">
                                <input type="number" class="form-control" id="minPriceInput" value="0" min="0" max="1000000" step="100000" />
                                <input type="number" class="form-control" id="maxPriceInput" value="1000000" min="0" max="1000000" step="100000" />
                            </div>
                            <div id="slider-range"></div>
                            <div id="amount"></div>
                        </div>
                    </div>
                    <div class='d-flex justify-content-center'>
                        <button class='filter-btn btn btn-primary mt-4 px-4'>Lọc</button>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="col-9 p-0 ps-2">
                <div class="list-product">
                    <!-- Sort -->
                    <div>
                        <div class="sort-bar d-flex align-items-center">
                            <div class='sort-label'>Sắp xếp theo</div>
                            <div class="dropdown">
                                <div class="btn dropdown-toggle sort-price-list" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="sort-price-choice">Chọn</div>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <div class="dropdown-item sort-data top_selling_products" data-sort='top_selling_products' href=''>Phổ biến</div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item sort-data best_selling_product" data-sort='best_selling_product' href=''>Đang hot</div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item sort-data top_sale_products" data-sort='top_sale_products' href=''>Giảm nhiều</div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item sort-data price-sort" data-sort='price_asc' href=''>Giá từ thấp đến cao</div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item sort-data price-sort" data-sort='price_desc' href=''>Giá từ cao đến thấp</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- List product -->
                        </div>
                        {% if search %}
                        <div class="mb-3">Kết quả tìm kiếm cho từ khóa: <span class='color-red'>'{{search}}'</span></div>
                        {% endif %}
                        <div class="row g-3 list-products">
                        </div>

                    </div>
                    <!-- Pagination -->
                    <div class="page-controller mt-5">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <div class="page-link pre-page" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </div>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <div class="page-link" href="#">1</div>
                                </li>
                                <li class="page-item">
                                    <div class="page-link" href="#">2</div>
                                </li>
                                <li class="page-item">
                                    <div class="page-link" href="#">3</div>
                                </li>
                                <li class="page-item">
                                    <div class="page-link next-page" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let lastChecked = null;

    function toggleRadio(radio) {
        console.warn(radio);
        
        if (lastChecked === radio) {
            radio.checked = false;
            lastChecked = null;
        } else {
            lastChecked = radio;
        }
    }

    $(document).ready(function() {
        function formatCurrency(amount) {
            if (amount >= 1000000) {
                return (amount / 1000000).toLocaleString("en-US", {
                    minimumFractionDigits: 0
                }) + 'tr';
            } else if (amount >= 1000) {
                return (amount / 1000).toLocaleString("en-US", {
                    minimumFractionDigits: 0
                }) + 'k';
            } else {
                return amount.toLocaleString("en-US", {
                    minimumFractionDigits: 0
                });
            }
        }
        var minPrice = 0;
        var maxPrice = 1000000;
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 1000000,
            step: 1,
            values: [minPrice, maxPrice],
            slide: function(event, ui) {
                $("#amount").html(formatCurrency(ui.values[0]) + "đ - " + formatCurrency(ui.values[1]) + ' đ');
                $("#minPriceInput").val(ui.values[0]);
                $("#maxPriceInput").val(ui.values[1]);
            }
        });

        $("#amount").html(formatCurrency($("#slider-range").slider("values", 0)) +
            "đ - " + formatCurrency($("#slider-range").slider("values", 1)) + ' đ');

        $("#minPriceInput").on("input", function() {
            var minValue = parseInt($(this).val()) || 0;
            var maxValue = $("#slider-range").slider("values", 1);
            if (minValue <= maxValue) {
                $("#slider-range").slider("values", 0, minValue);
                $("#amount").html(formatCurrency(minValue) + "đ - " + formatCurrency(maxValue) + ' đ');
            }
        });

        $("#maxPriceInput").on("input", function() {
            var maxValue = parseInt($(this).val()) || 10000000;
            var minValue = $("#slider-range").slider("values", 0);
            if (maxValue >= minValue) {
                $("#slider-range").slider("values", 1, maxValue);
                $("#amount").html(formatCurrency(minValue) + "đ - " + formatCurrency(maxValue) + ' đ');
            }
        });

        $('.sort-data').click(function() {
            var selectedValue = $(this).text();
            $('.sort-price-choice').text(selectedValue);
            $('.sort-data').removeClass('selected');
            $(this).addClass('selected');
        });

        $('.page-link').click(function() {
            $(this).addClass('selected');
        });

        // Lọc sản phẩm
        function getListProduct() {
            let category = $('input[name="category"]:checked').map(function() {
                return $(this).val();
            }).get().join(',');

            let sub_cate = $('#sub_cate').val();
            let parent_cate = $('#parent_cate').val();
            let all_cate = $('#all_cate:checked').val();

            if (all_cate) {
                category = '';
            } 
            
            if (!all_cate && !category) {
                if (parent_cate) {
                    const listcate = $('#list_sub_cate').val();
                    if (listcate) {
                        category = parent_cate + ',' + $('#list_sub_cate').val();
                    } else {
                        category = parent_cate;
                    }
                }
            }
            
            console.warn(category, parent_cate, sub_cate);

            const minPrice = $('#slider-range').slider('values', 0);
            const maxPrice = $('#slider-range').slider('values', 1);
            const type = $('input[name="type"]:checked').map(function() {
                return $(this).val();
            }).get().join(',');
            const price = $('input[name="price"]:checked').map(function() {
                return $(this).val();
            }).get().join(',');
            const age = $('input[name="age"]:checked').val();

            const sort = $('.sort-data.selected').data('sort');
            const page = $('.page-link.selected').attr('data-page');
            data = {
                category: category,
                min_price: minPrice,
                max_price: maxPrice,
                type: type,
                age: age,
                sort: sort,
                search: '{{search|default:""}}'
            }

            if (page) {
                data['page'] = page;
            }
            return data;
        }

        function loadDataProduct() {
            const data = getListProduct();
            $.ajax({
                url: '/filter-product',
                method: 'GET',
                data: data,
                success: function(response) {
                    console.log(response);
                    // Thêm sản phẩm vào danh sách "list-products"
                    let productList = [];
                    let listProduct = response.results;
                    if(listProduct.length == 0){
                        productList.push('<div class="d-flex justify-content-center color-red mt-4 fs-5">Không có sản phẩm nào phù hợp</div>');
                    }
                    else {
                        listProduct.forEach(function(product) {
    
                            let price = product.price;
                            let salePrice = product.sale;
                            price = formatCurrency(price);
                            salePrice = formatCurrency(salePrice);
                            let rating = product.rating
                            let ratingHtml = '';
                            for (let i = 1; i <= 5; i++) {
                                if (i <= rating) {
                                    ratingHtml += '<i class="fa-solid fa-star"></i>';
                                } else {
                                    ratingHtml += '<i class="fa-regular fa-star"></i>';
                                }
                            }
    
                            let productHtml = `
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <a class="product" href="product/${product.product_id}">
                                            <div class="product-card">
                                                <div class="product-image">
                                                    <img src="${product.images[0]}" alt="" class="product-img">
                                                </div>
                                                <div class="product-name" data-toggle="tooltip" title="${product.name}">${product.name}</div>
                                                <div class="product-price">
                                                    <div class="product-price-sale color-red">${salePrice == 0 ? price : salePrice} đ</div>
                                                    ${salePrice == 0 ? '' : '<div class="product-price-original">' + price + 'đ</div>'}
                                                </div>
                                                <div class="product-rate d-flex align-items-center">
                                                    ${ratingHtml}
                                                    <div class="product-quantity-sold ms-2">(Đã bán ${product.total_sold})</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    `;
                            productList.push(productHtml);
                        });
                    }
                    let productsContainer = document.querySelector(".list-products");
                    productsContainer.innerHTML = productList.join("");

                    // Thêm phân trang
                    var currentPage = response.current_page;
                    var totalPages = response.total_page;
                    var pageItems = $('.page-item');
                    var pageLinks = $('.page-link');
                    pageItems.removeClass('active');

                    var previous = response.previous;
                    console.log(previous)
                    var currentPage = response.current_page;
                    var totalPages = response.total_page;
                    var previous = response.previous;
                    var next = response.next;
                    page = `
                    <li class="page-item ${ previous == null ? 'disabled' : '' }">
                        <div data-page='1' class="page-link pre-page" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </div>
                    </li>
                    `
                    if (previous) {
                    page += `
                    <li class="page-item" aria-current="page">
                        <div data-page='${currentPage-1}' class="page-link"'>${currentPage-1}</div>
                        </li>
                    `
                    }
                    page += `
                        <li class="page-item active" aria-current="page">
                            <div data-page=' ${currentPage}' class="page-link"'>${currentPage}</div>
                        </li>
                    `
                    var next = response.next;
                    if (next) {
                    page += `
                        <li class="page-item" aria-current="page">
                            <div data-page=' ${currentPage+1}' class="page-link"'>${currentPage+1}</div>
                        </li>
                    `;
                    }
    
                    page += `
                        <li class="page-item ${ currentPage == totalPages ? ' disabled' : '' }">
                            <div data-page='${totalPages}' class="page-link pre-page" href="#" aria-label="Previous">
                                <span aria-hidden="true"'>&raquo;</span>
                            </div>
                        </li>
                    `
                    $('.pagination').html(page);
                    $('.page-link').click(function() {
                        $('.page-link').removeClass('selected');
                        $(this).addClass('selected');
                        loadDataProduct();
                    });
                    var position = $('.list-product').offset().top - 10;
                    var windowHeight = $(window).height();
                    var scrollPosition = $(window).scrollTop();

                    // Kiểm tra xem vị trí đó có nằm trong viewport hay không
                    if (position > scrollPosition && position < scrollPosition + windowHeight) {
                        // Nếu đúng, không cần di chuyển nữa
                        return;
                    }
                    // Di chuyển đến vị trí đó với tốc độ 500ms
                    $('html, body').animate({
                        scrollTop: position
                    }, 100);
                },
                error: function(error) {
                    // Xử lý lỗi nếu có
                    console.log(error);
                }
            });
        }

        $('.sort-data, .filter-btn, .page-link').click(function() {
            loadDataProduct();
        });


        loadDataProduct();

        function formatCurrency(value) {
            return value.toLocaleString('vi', {
                style: 'currency',
                currency: 'VND'
            }).replace(',', '.').replace('₫', '').trim();
        }
    });
</script>
{% endblock content %}