{% extends 'customer/base.html' %}

{% block content %}

<div class="my-5" style='min-height: 400px'>
    <div class="d-flex justify-content-center color-green">
        <div class='d-flex flex-column align-items-center gap-3'>
            <div><i class="fa-regular fa-circle-check" style='font-size: 80px'></i></div>
            <div class='fs-3 '>Đặt hàng thành công</div>

            <a href="/home" class='btn btn-primary back-home'>Về trang chủ</a>
        </div>
    </div>
</div>
{% endblock content %}